<center>
	<h1>Welcome to The JAM!</h1>
	<h4>(Job Application Manager)</h4>

	<h3>This site is currently in Progess</h3>
	

	<%= link_to 'See All Users', users_path %>
	<br>
	<%= link_to 'See All Job Applications', job_applications_path %>
	<br><%= image_tag "new_job.jpg" %><br>
	<p>(image from http://thumbs.dreamstime.com/z/new-job-happy-businessman-new-messages-computer-office-funny-cartoon-business-concept-46456528.jpg)</p>
</center>